#Mac
.DS_Store
2-JS-basics/.DS_Store
4-DOM-pig-game/.DS_Store
6-budgety/.DS_Store
7-ES6/.DS_Store
8-asynchronous-JS/.DS_Store
9-forkify/starter/src/.DS_Store

output

#Mocha Reports
results/
cypress/results/
mochareports/
reports/
screenshots/
mochawesome_combined_report.json

#Cypress
cypress/screenshots/
cypress/config/stag.json

#NodeJS
node_modules/

#automocks
automocks/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
package-lock.json

#utils
commonLog.utils.js

# Log file
*.log

# BlueJ files
*.ctxt

### Gradle ###
.gradle/
build/
